@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-text-default;
    @apply bg-text-selection;
    @apply min-h-screen scroll-smooth font-sans antialiased transition-colors;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-m-20 font-brand tracking-tight;
  }
  h1 {
    @apply text-4xl font-bold lg:text-5xl;
  }
  h2 {
    @apply text-2xl font-semibold lg:text-3xl;
  }
  h3 {
    @apply text-xl font-semibold lg:text-2xl;
  }
  h4 {
    @apply text-lg font-semibold lg:text-xl;
  }
  h5 {
    @apply font-semibold lg:text-lg;
  }
  h6 {
    @apply font-semibold lg:text-base;
  }
  header {
    @apply space-y-1;
  }
  b {
    @apply font-bold;
  }
  code {
    @apply font-mono;
  }
  button {
    @apply select-none;
  }
}

@layer components {
  /* shouldn't be a React component, because any element can be styled as a card */
  .card-base {
    @apply rounded border-2 border-surface-100 dark:border-surface-800;
  }
  .card {
    @apply card-base block px-3 py-2;
  }
  .card-sm {
    @apply card-base block px-2 py-1;
  }
  .card-lg {
    @apply card-base block p-6;
  }
  .card-hover {
    @apply bg-surface-100/30 dark:bg-surface-800/30;
  }
  .card-action {
    @apply bg-surface-50 dark:bg-black;
  }
  .code {
    @apply bg-slate-300/50 text-slate-900 hover:bg-slate-300;
    @apply dark:bg-slate-800/50 dark:text-slate-400 dark:hover:bg-slate-800;
    @apply relative rounded px-[0.3rem] py-[0.2rem] font-mono font-semibold  transition-colors before:content-none after:content-none;
  }
}

@layer utilities {
  /* Content */
  .text-default {
    @apply text-surface-950 dark:text-surface-50;
  }
  .bg-default {
    @apply bg-white dark:bg-surface-950;
  }
  .bg-text-default {
    @apply text-default bg-default;
  }
  .bg-text-raised {
    @apply bg-surface-50 text-black dark:bg-surface-900 dark:text-white;
  }
  .bg-text-selection {
    @apply selection:bg-brand-500/20 selection:text-brand-950 dark:selection:bg-brand-500/20 dark:selection:text-brand-100;
  }
  .link {
    @apply text-brand-600 transition-colors hover:text-brand-800 dark:text-brand-400 dark:hover:text-brand-300;
  }
  .dim {
    @apply text-surface-400 dark:text-surface-600;
  }
  .dim-xs {
    @apply dim text-xs;
  }
  .dim-hover {
    @apply hover:text-surface-500 dark:hover:text-surface-500;
  }
  .inline-icon {
    @apply inline-block align-middle;
  }

  /* Content Variants */
  .input {
    @apply bg-white dark:bg-surface-950;
    @apply rounded-md border-2 border-surface-100 focus-visible:border-surface-100 dark:border-surface-800;
    @apply focus-visible:ring-brand-600 dark:focus-visible:ring-brand-400;
    @apply flex h-10 w-full px-3 py-2 text-sm placeholder:text-surface-400 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:text-surface-50 dark:placeholder:text-surface-700 dark:focus-visible:ring-offset-surface-900;
  }
  .select-trigger {
    @apply rounded-md;
    @apply flex h-10 items-center justify-between border-2 border-surface-300 bg-white px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-surface-400 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-surface-700 dark:bg-surface-900 dark:text-surface-50 dark:focus:ring-surface-400 dark:focus:ring-offset-surface-900;
    @apply placeholder:text-surface-400 data-[placeholder]:text-surface-400;
  }
  .button {
    @apply z-auto cursor-pointer select-none rounded-md transition-colors active:translate-y-px;
    @apply font-semibold hover:font-semibold focus:font-semibold;
    @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
    @apply focus:outline-none focus:ring-2 focus:ring-brand-600 focus:ring-offset-2 dark:focus:ring-brand-400 dark:focus:ring-offset-brand-900;
  }
  .button-size-default {
    @apply h-9 gap-2 rounded-md px-3 sm:h-10 sm:px-4;
  }
  .button-size-small {
    @apply button h-7 gap-2 rounded px-2 text-sm hover:text-sm focus:text-sm sm:h-8 sm:px-3;
  }
  .button-variant-default {
    @apply border-2 border-brand-800 bg-brand-600 text-white hover:bg-brand-700 focus:bg-brand-600 dark:border-brand-400 dark:hover:bg-brand-700 dark:focus:bg-brand-600;
  }
  .button-variant-subtle {
    @apply bg-brand-500/20 text-brand-800 hover:bg-brand-500/50 hover:text-brand-800 focus:bg-brand-300 focus:text-brand-800 dark:bg-brand-900 dark:text-brand-200 dark:hover:bg-brand-800 dark:hover:text-brand-200 dark:focus:bg-brand-800 dark:focus:text-brand-200;
  }

  /* Layouts */
  .px-layout {
    @apply px-2 sm:px-4;
  }
  .contain-full {
    @apply mx-auto w-full max-w-7xl;
  }
  .contain-sm-full {
    @apply mx-auto w-full max-w-3xl;
  }
  .contain {
    @apply contain-full px-layout;
  }
  .contain-sm {
    @apply contain-sm-full px-layout;
  }
  .queue {
    @apply flex flex-wrap gap-2;
  }
  .queue-sm {
    @apply flex flex-wrap gap-1 sm:gap-2;
  }
  .queue-lg {
    @apply flex flex-wrap gap-2 sm:gap-4;
  }
  .queue-center {
    @apply queue items-center;
  }
  .queue-center-sm {
    @apply queue-sm items-center;
  }
  .queue-center-lg {
    @apply queue-lg items-center;
  }
  .stack {
    @apply queue flex-col;
  }
  .stack-lg {
    @apply queue-lg flex-col;
  }
  .stack-start {
    @apply stack items-start;
  }
  .stack-center {
    @apply stack items-center;
  }
  .cross-center {
    @apply flex justify-center items-center;
  }

  /* Sizes */
  .size-xs {
    @apply h-3 w-3;
  }
  .size-sm {
    @apply h-4 w-4;
  }
  .size-md {
    @apply h-5 w-5;
  }
  .size-lg {
    @apply h-7 w-7;
  }
  .size-xl {
    @apply h-10 w-10;
  }
  .size-2xl {
    @apply h-12 w-12;
  }
  .size-3xl {
    @apply h-16 w-16;
  }
  .size-4xl {
    @apply h-20 w-20;
  }
  .size-5xl {
    @apply h-28 w-28;
  }

  /* Prose */
  .prose-config {
    @apply prose dark:prose-invert sm:prose-lg;
    @apply prose-p:prose-p-styles;
    @apply prose-a:prose-a-styles;
    @apply prose-ul:prose-list-styles;
    @apply prose-ol:prose-list-styles;
    @apply prose-code:prose-code-styles;
    @apply text-surface-900 dark:text-surface-50;
  }
  .prose-p-styles {
    @apply sm:text-lg;
  }
  .prose-a-styles {
    @apply link font-semibold no-underline;
  }
  .prose-list-styles {
    @apply my-2 marker:text-base marker:text-brand-700 dark:marker:text-brand-300 [&>li]:mt-2;
  }
  .prose-code-styles {
    @apply code;
  }
}

/* NProgress styles need to be outside of layers because using #id */
#nprogress {
  @apply pointer-events-none z-50;
}
#nprogress .bar {
  @apply fixed left-0 top-0 z-50 h-1 w-full bg-brand-600 dark:bg-brand-400;
}
#nprogress .peg {
  @apply absolute right-0 z-50 block h-full w-28 -translate-y-1 translate-x-0 rotate-3 opacity-100;
  @apply shadow-[0_0_15px_#000,0_0_10px_#000] shadow-brand-900 dark:shadow-[0_0_15px_#FFF,0_0_10px_#FFF] dark:shadow-brand-500;
}
#nprogress .spinner {
  @apply fixed bottom-2 right-2 z-50 block;
}
#nprogress .spinner-icon {
  @apply z-50 box-border h-6 w-6 animate-spin rounded-full border-4 border-transparent  duration-500;
  @apply border-l-brand-600 border-t-brand-600 dark:border-l-brand-300 dark:border-t-brand-300;
}
.nprogress-custom-parent {
  @apply relative z-50 overflow-hidden;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  @apply absolute z-50;
}

/* Uploadcare styles need to be outside of layers */
.uploadcare--dialog__container {
  @apply card-base;
}
.uploadcare--panel {
  @apply bg-text-default;
}
.uploadcare--menu__items {
  @apply bg-text-raised;
}
.uploadcare--menu__item.uploadcare--menu__item_current {
  @apply bg-text-default;
}
.uploadcare--menu__item {
  @apply bg-text-raised;
}
.uploadcare--widget__button {
  @apply button-size-small button-variant-subtle;
}
.uploadcare--button {
  @apply cursor-pointer;
}
.uploadcare--button_primary {
  @apply button button-variant-subtle border-none block;
}
.uploadcare-tab-effects--effect-button {
  @apply dark:fill-white;
}
.uploadcare--input {
  @apply input;
}
.uploadcare--camera__device-select {
  @apply select-trigger w-full max-w-lg;
}
.uploadcare--progress_type_canvas {
  @apply text-brand-500;
}
.uploadcare--panel__footer {
  @apply bg-text-default;
}
.uploadcare--file {
  @apply text-default;
}
.uploadcare--progressbar__value {
  @apply bg-brand-500;
}
.uploadcare--file_status_uploading .uploadcare--file__preview {
  @apply bg-brand-500 text-brand-500 border-brand-500;
}
