:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222 47% 11%);
  --muted: hsl(210 40% 96%);
  --muted-foreground: hsl(215 16% 47%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222 47% 11%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222 47% 11%);
  --border: hsl(214 32% 91%);
  --input: hsl(214 32% 91%);
  --primary: hsl(222 47% 11%);
  --primary-foreground: hsl(210 40% 98%);
  --secondary: hsl(210 40% 96%);
  --secondary-foreground: hsl(222 47% 11%);
  --accent: hsl(210 40% 96%);
  --accent-foreground: hsl(222 47% 11%);
  --destructive: hsl(0 100% 50%);
  --destructive-foreground: hsl(210 40% 98%);
  --ring: hsl(215 20% 65%);
  --radius: 0.5rem;
}

.dark {
  --background: hsl(224 71% 4%);
  --foreground: hsl(213 31% 91%);
  --muted: hsl(223 47% 11%);
  --muted-foreground: hsl(215 16% 57%);
  --popover: hsl(224 71% 4%);
  --popover-foreground: hsl(215 20% 65%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222 47% 11%);
  --border: hsl(216 34% 17%);
  --input: hsl(216 34% 17%);
  --primary: hsl(210 40% 98%);
  --primary-foreground: hsl(222 47% 1%);
  --secondary: hsl(222 47% 11%);
  --secondary-foreground: hsl(210 40% 98%);
  --accent: hsl(216 34% 17%);
  --accent-foreground: hsl(210 40% 98%);
  --destructive: hsl(0 63% 31%);
  --destructive-foreground: hsl(210 40% 98%);
  --ring: hsl(216 34% 17%);
  --radius: 0.5rem;
}
