:root {
  --background: hsl(0deg 0% 100%);
  --foreground: hsl(222deg 47% 11%);
  --muted: hsl(210deg 40% 96%);
  --muted-foreground: hsl(215deg 16% 47%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(222deg 47% 11%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(222deg 47% 11%);
  --border: hsl(214deg 32% 91%);
  --input: hsl(214deg 32% 91%);
  --primary: hsl(222deg 47% 11%);
  --primary-foreground: hsl(210deg 40% 98%);
  --secondary: hsl(210deg 40% 96%);
  --secondary-foreground: hsl(222deg 47% 11%);
  --accent: hsl(210deg 40% 96%);
  --accent-foreground: hsl(222deg 47% 11%);
  --destructive: hsl(0deg 100% 50%);
  --destructive-foreground: hsl(210deg 40% 98%);
  --ring: hsl(215deg 20% 65%);
  --radius: 0.5rem;
}
.dark {
  --background: hsl(224deg 71% 4%);
  --foreground: hsl(213deg 31% 91%);
  --muted: hsl(223deg 47% 11%);
  --muted-foreground: hsl(215deg 16% 57%);
  --popover: hsl(224deg 71% 4%);
  --popover-foreground: hsl(215deg 20% 65%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(222deg 47% 11%);
  --border: hsl(216deg 34% 17%);
  --input: hsl(216deg 34% 17%);
  --primary: hsl(210deg 40% 98%);
  --primary-foreground: hsl(222deg 47% 1%);
  --secondary: hsl(222deg 47% 11%);
  --secondary-foreground: hsl(210deg 40% 98%);
  --accent: hsl(216deg 34% 17%);
  --accent-foreground: hsl(210deg 40% 98%);
  --destructive: hsl(0deg 63% 31%);
  --destructive-foreground: hsl(210deg 40% 98%);
  --ring: hsl(216deg 34% 17%);
  --radius: 0.5rem;
}
