_*.md
.cache
.DS_Store
.env
.env*.local
.output
.pnp.js
.pnpm-debug.log*
.vercel
*.pem
*.swp
*.tsbuildinfo
/.pnp
/api/index.js
/api/index.js.map
/build
/coverage
/node_modules
/out/
/prisma/db.sqlite
/prisma/db.sqlite-journal
/public/build
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
